body{
    font-family: 'Luxurious Roman', cursive;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Mono', monospace;
    
}
.first-section{
    display:flex;
    margin-bottom: 150px;

}
.parente{
    width: 100%;
}
.orange-color{
    color:orange
}
.head-border{
    border-left: 5px solid orange;
    border-radius: 3px;
    
}
.head-font{
    font-size: 40px;
    font-weight: 700;
}
.explore-button{
    text-decoration: none;
    margin:10px;
    padding:10px 30px; 2
    border-width: none;
    background-image: linear-gradient(yellow,pink);
    border-radius: 10px;
    
}
.half-width{
    width:100%;
    margin:40px;

}
.half-width img{
    width: 60%;
}
.second-section{
    display: flex;
    justify-content: space-around;
    padding:50px;
    

}
.head-font{
    text-align: center;
}
.illustrator-size img
{
width:40%;
}
.mission{
    width:300px;
    border:1px solid gray;
    background-color: sandybrown;
    border-radius: 20px;
    padding:15px
}
#item-1{
    background-color: tan;
}
#item-2{
    background-color: violet;
}
.third-section{
    display: flex;
    justify-content: space-around;
    margin:120px;
    background-image: url(./images/shapes/dream-bg.png);
    background-repeat:no-repeat ;
    background-position: right;
     
}
.img-1{
     width:60%;
}
.fourth-section{
    display: flex;
    justify-content: space-around;
    margin: 150px;
    background-image: url(./images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 200px;
}
.img-2{
    width:65%;
    
}

.section-fifth{
    margin:180px;
    padding: 30px;
    background-image: linear-gradient(salmon, yellowgreen);
    box-shadow: 8px 8px 15px sandybrown;
}
.footer-color{
    font-family: cursive;
    text-align: center;
    background-image: linear-gradient(rgba(128, 97, 97, 0.664),rgb(209, 193, 190));
    margin-bottom: 0;
    border:1px solid;
}

